header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid gray;
    box-shadow: 0 8px 7px -5px rgb(0 0 0 / 10%);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo{
    margin-left: 1rem;
}

.logo:hover{
    cursor: pointer;
}

.header-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25rem;
}

.search-form{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 1.8rem;
}

.search{
    width: 100%;
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 3px 0px 0px 3px;
}

.search:focus {
    border: 2px solid gray;
    outline: none;
}


.submit-btn{
    font-size: 0.8rem;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid lightgray
}

.submit-btn:hover{
    background-color: lightgray;
    cursor: pointer;
}

.voice-search-warapper{
    margin: auto 1rem auto 1rem;
    font-size: 1.4rem;
    color: lightgray;
}

.voice-search-warapper:hover{
    color: gray;
    cursor: pointer;
}

.bell-wrapper{
    color: lightgray;
    font-size: 1.4rem;
}

.bell-wrapper:hover{
    cursor: pointer;
    color: gray;
}

.menu-wrapper{
    position: relative;
    display: inline-block;
    border-radius: 50%;
    background-color: orange;
    padding: 0.7rem;
    color: gray;
    font-size: 1.4rem;
    margin: auto 1rem auto 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    margin-top: 1rem;
    border: 1px solid lightgray;
    border-radius: 3%;
    z-index: 1;
}

.dropdown-content a {
    color: gray;
    font-size: 1rem;
    padding: 1rem;
    width: 8rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.dropdown-icon{
    margin-right: 1rem;
}

.sign-out{
    border-top: 1px solid lightgray;
}

.dropdown-content a:hover {background-color: #ddd;}

.menu-wrapper:hover .dropdown-content {display: block;}

.menu-wrapper:hover{
    cursor: pointer;
    background-color: lightgray;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

aside{
    grid-column: 1/2;
    grid-row: 1;
}

.sidebar{
    height: 80vh;
    position: sticky;
    top: 10%;
}

.sidebar-users{
    background-color: rgb(230, 228, 228);
    overflow: auto;
    height: 80%;
}

.user{
    font-size: 1.3rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user:hover{
    background-color:rgb(212, 209, 209); 
    cursor: pointer;
}

.user p{
    margin-right: 5rem;
    text-overflow: ellipsis;
}

.user p:hover{
    color: blue;
}

.ava{
    background-color: white;
    position: relative;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.ava i{
    position: absolute;
    left: 25%;
    top: 25%;
}

.blob {
	background: red;
	border-radius: 50%;
	height: 10px;
	width: 10px;
    box-shadow: 0 0 0 0 rgb(253, 1, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(253, 2, 2, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(253, 1, 1, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(253, 2, 2, 0);
	}
}

.info-panel{
    background-color: lightgray;
    padding: 0.5rem;
    font-size: 1.4rem;
    margin: 1rem;
}

.info-panel p{
    text-align: center;
}

.info-panel p::selection{
    color: white;
    background: orange;
}

.contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
}

.contacts i:hover{
    cursor: pointer;
    color: rgb(0, 153, 255);
}

.sidebar-down{
    background-color: rgb(230, 228, 228);
    display: flex;
    margin-top: 1px;
}

.container-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav{
    grid-column: 1/4;
    grid-row: 1/2;
}

.categories {
    display: flex;
    flex-direction: row;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.categories::-webkit-scrollbar{
    width: 0;
}

.categories  div{
    background-color: lightgray;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.all{
    background-color: orange !important;
}

.categories div:hover{
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}

article{
    grid-column: 1/4;
}

.container-article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.video-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    width: 100%;
}

.video img{
    height: 15rem;
    width: 20rem;
}

.description{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.3rem;
}

.description .userVideo{
    margin: -1rem 5rem 1rem 1rem;
}

.description .fa-ellipsis-v{
    margin-left: 8rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 2;
    bottom: 0;
}

footer div, footer i{
    font-size: 1.3rem;
}

footer div{
    margin-left: 5rem;
}